/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0; /* Ajuste para evitar espacios innecesarios */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% del alto de la ventana */
}

/* Estilos para el encabezado */
header {
  padding: 10px 0;
  background-color: #f0f0f0;
}

.navbar-brand {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}

.principal{
  text-align: center;
}
/* Estilos para la tabla */
.table-responsive {
  overflow-x: auto;
}

td, th{
  border: 1px solid #000;
}
input[type="text"],
input[type="number"]{
  border: none;
  ;
}
/* input[type="text"],
input[type="number"],
select {
  width: 100%;
  box-sizing: border-box;
} */
.boto{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.boto1{
  margin-right: 10px;
}

/* Estilos para el pie de página */
footer {
  padding: 10px 0;
  margin-top: auto; /* Esto hará que el pie de página se ajuste automáticamente al final del cuerpo */
  text-align: center;
}


/* Estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
  .main-container {
    padding-top: 60px; /* Ajuste para evitar que el encabezado oculte contenido en móviles */
  }

  .containe {
    padding: 10px;
  }

  table {
    font-size: 14px; /* Ajuste para mejorar la visualización en dispositivos móviles */
  }
}

/* Estilos para tabletas y pantallas pequeñas */
@media (min-width: 768px) and (max-width: 991px) {
  .main-container {
    padding-top: 50px; /* Ajuste para evitar que el encabezado oculte contenido en tabletas */
  }
}

/* Estilos para pantallas medianas y grandes */
@media (min-width: 992px) {
  .main-container {
    padding-top: 70px; /* Ajuste para evitar que el encabezado oculte contenido en pantallas grandes */
  }
}
