/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  height: 100vh;
  margin: 0; /* Asegura que no haya espacios innecesarios alrededor del cuerpo */
}

.bg-dark {
  background-color: #fff !important;
  color: #000 !important; /* Asegura que el texto dentro de .bg-dark sea legible */
}

/* esta es la parte del main */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 70px); /* Ajusta la altura para evitar espacios en blanco */
}

.containe {
  padding: 20px;
  border-radius: 10px;

}

p {
  text-align: center;
}

table {
  text-align: center;
}

td {
  border: 1px solid #000;
}

th {
  border: 1px solid #000;
}

.boto {
  text-align: center;
  margin-top: 20px;
}
.botoncito{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.botonc1{
  display: flex;
  padding-top: 10px;
  justify-content: center;

}
.botonc2{
  border: none;
}


/* esta es la parte del footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
}
a{
  display: flex;
  justify-content: center;

}

