/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

/* Estilos para hacer la tabla responsive */
.table-responsive {
  overflow-x: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt-5 {
  margin-top: 4rem!important;
}
.table {
  margin: 0 auto; /* Ajusta la tabla al centro */
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border: 1px solid #000 !important;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}

/* Estilos responsive */
/* Cuando el ancho de la pantalla es menor o igual a 768px */
@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
  .table-responsive {
    overflow-x: scroll;
  }
  td,
  th {
    font-size: 0.8rem;
  }
}


