/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #dbdbdb;
  margin: 0;
}

/* Estilos del contenido principal (main) */
.main-container {
  padding: 20px;
  border-radius: 10px;
  margin-top: 80px;
  text-align: center;
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #000;
}

/* Estilos del pie de página (footer) */
footer {
  padding: 10px 0;
  text-align: center;
}


